-- Fix cashout tiers: change 5000 coin tier to 7500 coins for , ensure 200k coin tier for  exists
-- Date: 2026-05-12 05:12:00
-- Replaces any 5000 coin tier with 7500 coins for 
-- Ensures 7500, 15000, 30000, 60000, 120000, 200000 tiers exist with correct values

-- First, deactivate all existing tiers to start clean
UPDATE cashout_tiers SET is_active = false;

-- Insert/update the correct tiers
INSERT INTO cashout_tiers (coin_amount, cash_amount, currency, processing_fee_percentage, is_active, created_at, updated_at)
VALUES 
  (7500, 25, 'USD', 0, true, NOW(), NOW()),
  (15000, 50, 'USD', 0, true, NOW(), NOW()),
  (30000, 150, 'USD', 0, true, NOW(), NOW()),
  (60000, 300, 'USD', 0, true, NOW(), NOW()),
  (120000, 600, 'USD', 0, true, NOW(), NOW()),
  (200000, 1000, 'USD', 0, true, NOW(), NOW())
ON CONFLICT (coin_amount) DO UPDATE
SET
  cash_amount = EXCLUDED.cash_amount,
  currency = EXCLUDED.currency,
  processing_fee_percentage = EXCLUDED.processing_fee_percentage,
  is_active = EXCLUDED.is_active,
  updated_at = NOW();

-- Ensure old/unwanted tiers are deactivated (like any remaining 5000 tier)
UPDATE cashout_tiers 
SET is_active = false 
WHERE coin_amount NOT IN (7500, 15000, 30000, 60000, 120000, 200000);
